<template>
  <div class="container">
    <div>
      <h1 class="title">Sample</h1>
      <h2>サブタイトル</h2>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({})
</script>
